<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        	<link rel="stylesheet" href="{{ asset('css/app.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/headers.css') }}" />

        {% endblock %}
    </head>
    <body>
        <!-- Store some data for JS -->
            <input type="hidden" id="js_ajax_url" value="{{ path('ajaxqueries') }}" />
        <!-- END -->

    	<div id="main-container" class="bg-dark">
            {% block header %}
                <div class="d-flex flex-row bg-dark text-light">
                  <div class="p-3" style="width: 10%;">
                    {% block header_left %}
                        FFFGAMES
                    {% endblock %}
                  </div>
                  <div class="mr-auto p-3">
                    {% block header_center %}
                        INFO GAME: <span id="info_nbplayer">0</span> players in <span id="info_nbroom">0</span> rooms for <span id="info_nbgame">0</span> games
                    {% endblock %}
                  </div>
                  <div class="p-2">
                    {% block header_right %}
                        <ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img width="25px" src="{{ asset('img/default-user.png') }}"></a>
                                <div class="dropdown-menu" aria-labelledby="dropdown_user">
                                  <a class="dropdown-item" href="/logout">{{ 'Log out'|trans }}</a>
                                </div>
                            </li>
                        </ul>
                    {% endblock %}
                  </div>
                </div>
        	{% endblock %}

            {% block body %}{% endblock %}

            <div id="footer">{% block footer %}{% endblock %}</div>
    	</div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/popper.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ajaxqueries.js') }}"></script>
            <script type="text/javascript">
                $('.dropdown-toggle').dropdown();
            </script>
        {% endblock %}
    </body>
</html>